<%- include('partials/head.ejs') -%>

    <%- include('partials/nav.ejs') -%>
    <header id="header" class="header">
        
        <div class="header__heading">
            <h1 class="main">Red Dragon!</h1>
            <p class="small">Automated Intelligent Trading Robot</p>
            <div class="header__btn">
                <a href="#" class="btn btn-red">Get Started</a>

            </div>
        </div>
    </header>
    
    <section class="about">

        <div class="about__left">

            <small>------- About</small>

            <h1 class="margin-bottom-mid about__heading main">Red Dragon</h1>
            <p class="about__text">
                Red Dragon is an automated intelligent trading 
                robot that runs automated inside your MT5
                 terminals and places trades automatically.
            </p>

            <ul class="about__options">
                <li class="about__option">
                    Fully Automated
                </li>
                <li class="about__option">
                    Transaction object: Synthetics
                </li>
                <li class="about__option">
                    Pay once and available forever
                </li>
                <li class="about__option">
                    Easy to install
                </li>
                <li class="about__option">
                    Free remote installation support
                </li>
                <li class="about__option">
                    Different Risk Level Setting
                </li>
            </ul>

            <h1 class="main margin-bottom-mid about__heading">Requirements</h1>

            <h2 class="margin-bottom-sm about__heading-2">Signup With Deriv or any Broker that Trades Synthetics            </h2>

            <p class="about__text">
                Synthetic financial instruments are those that are designed to mimic existing products while changing important properties such as duration and cash flow. Traders may use synthetic positions to take a position without having to put up the money to purchase or sell the asset.
            </p>
            
            <h2 class="margin-bottom-sm about__heading-2">Get a VPS</h2>
            
            <p class="about__text">
                A forex VPS (virtual private server) is a permanent link that connects your trading terminal to the wider trading network. Forex VPS hosting keeps you connected and lets you keep trading, giving you safety and security against unforeseen failures in the system.
            </p>
            
            <h2 class="margin-bottom-sm about__heading-2">Have a Minimum Trading Capital of $1,000            </h2>
            
            <p class="about__text">
                Your trading capital goes a long way towards determining your trade profit. To effectively program this bot, a minimum trade capital of $1,000 is needed.
            </p>

            <a href="/" class="btn btn-red">Get Started</a>

        </div>

        <div class="about__right">
            <img src="/images/dragon.jpg" alt="dragon img">
        </div>
    </section>

    <section class="features">
        <h1 class="main margin-bottom-mid features__heading">Red Dragon Affiliate Earning </h1>
        <p class="features__text">
            You can earn even without purchasing the robot. the purpose is to allow those who can't afford the bot or capital to earn from affiliate and get into the business too. For anyone you referred, and successfully purchased the bot you earn commission from it. You will earn $10 from the Regular Package when whoever you invited purchase the bot. You can also earn $20 from the Extended Package when whoever you invited purchase the bot. This is not a MLM program where you earn from levels. you only earn from the bot purchase and from your direct referral.
        </p>


    </section>   

<%- include('partials/footer.ejs'); -%>