$default-font: 1.6rem;

// colors

$color-white: #fff;
$color-offwhite: #eee;

$color-heading-blue: #0b1c39;
$color-heading-red: red;

$button-bg: rgb(152, 0, 0);
$button-border: rgb(255, 8, 8);

$color-about: #eb566c;
$color-bg: #020230;


$color-blue: #10285d;
$color-indigo: #6610f2;


$color-footer: #8ba4b1;

